# API Configuration
NEXT_PUBLIC_API_URL=https://your-api-domain.com
NEXT_PUBLIC_BASE_URL=https://your-frontend-domain.com

# Environment
NODE_ENV=production

DEV_LOGIN_EMAIL=
DEV_LOGIN_PASSWORD=

NEXT_PUBLIC_DEV_LOGIN_EMAIL=$DEV_LOGIN_EMAIL
NEXT_PUBLIC_DEV_LOGIN_PASSWORD=$DEV_LOGIN_PASSWORD